/*
body{
	background-color: #D3D3D3;

	.payment-data .step{
		background-color: #D3D3D3;
	}

	.payment-group{
		background: none;
	}

	.payment-group-item{
		border-color: #C8CCC7;
	}
	.payment-group-list-btn{
		width: auto;
	}
}
*/
.bg-sprite {
  background: url('../../img/sprite.svg') no-repeat;
}
.bg-ico-safe {
  background-position: -27px -18px;
  width: 69px;
  height: 66px;
  transform: scale(0.6);
}
.bg-ico-parcelas {
  background-position: -112px -18px;
  width: 69px;
  height: 66px;
  transform: scale(0.6);
}
.bg-ico-time {
  background-position: -184px -18px;
  width: 69px;
  height: 66px;
  transform: scale(0.6);
}
.bg-logo-losango {
  width: 196px;
  height: 52px;
  background-position: -47px -108px;
}
.payment-title-box {
  margin-bottom: 25px;
}
h3.payment-losango-title {
  display: block;
  text-indent: -999em;
  margin: 30px auto;
}
.payment-losango-benefits {
  padding: 25px 0;
  margin-bottom: 52px;
}
li.payment-losango-benefit {
  position: relative;
  padding-left: 51px;
  padding-right: 15px;
  border-right: 1px dotted #555;
  border-width: 2px;
  /* 	
	&::after{
		content:'';
		position: absolute;
		right: 0;
		top:50%;
		transform: translateY(-50%);
		width: 2px;
		height: 100px;
		background: url('../../img/sprite.svg') no-repeat -145px -176px;
		display: none;
	} */
  /* &:last-child::after{
		background: none;
	} */
}
li.payment-losango-benefit:last-child {
  border-right: none;
  padding-right: 5px;
}
p.payment-losango-benefit-title {
  font-size: 14px;
  font-weight: bold;
  position: relative;
}
p.payment-losango-benefit-title:last-child {
  border-right: none;
}
p.payment-losango-benefit-title .bg-ico {
  position: absolute;
  right: 90%;
  top: -10px;
}
p.payment-losango-benefit-description {
  font-size: 12px;
}
span.title-strong {
  font-weight: bold;
  color: #CC092F;
}
h3.payment-newpayment-title {
  background: #00a3db url('../../img/payment-safetypay-title.png') center center no-repeat;
  display: block;
  height: 29px;
  margin: -15px 0 15px -15px;
  padding: 0 15px;
  text-indent: -999em;
  width: 100%;
}
.payment-newpayment-description-banks {
  background: url('../../img/payment-safetypay-banks.png') 0 0 no-repeat;
  height: 40px;
  margin: 15px 0 30px;
  text-indent: -999em;
}
.payment-newpayment-benefit {
  background: #fff;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
}
.payment-newpayment-benefit-title {
  background: url('../../img/payment-safetypay-icons.png') top center no-repeat;
  font-size: 16px;
  padding-top: 85px;
  text-transform: uppercase;
}
.payment-newpayment-benefit-fast .payment-newpayment-benefit-title {
  background-position: center -150px;
}
.payment-newpayment-benefit-safe .payment-newpayment-benefit-title {
  background-position: center -300px;
}
.payment-newpayment-benefit-description {
  line-height: 1.4;
}
.payment-newpayment-help {
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 490px) {
  .payment-newpayment-benefit-title {
    background: none;
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  li.payment-losango-benefit {
    margin-bottom: 25px;
    /* &::after{
			display: none;
		}
		 */
    border-right: none;
  }
  li.payment-losango-benefit:last-child {
    margin-bottom: 0;
  }
  p.payment-losango-benefit-title .bg-ico {
    position: absolute;
    right: 100%;
    top: -10px;
  }
}
@media (max-width: 979px) {
  .payment-newpayment-benefit {
    overflow: hidden;
  }
}
